@media (max-width: 991px){
    .navbar{
        padding: 12px 15px;
    }
    .logo-txt{
        font-size: 28px;
    }
    .logo-img{
        width: 75px;
    }
    .panel-txt{
        font-size: 18px;
        margin-right: 17px;
    }

    .description, .news_text{
        font-size: 18px;
    }
    .order_button{
        font-size: 18px;
        width: 230px;
        height: 72px;
    }

    .item_buy{
        width: 70px;
        height: 70px;
    }
    .traditions_block{
        margin-top: -45px;
    }
    .traditions_button{
        font-size: 18px;
        width: 225px;
        height: 72px;
    }
    .round_circle{
        width: 850px;
        height: 800px;
    }
    .text_column{
        margin-left: 75px;
    }

    .menu_items{
        width: 1217px;
    }

    .menu_item{
        margin-bottom: 50px;
    }

    .menu_item_header{
        font-size: 17px;
        width: 86px;
    }

    .menu_item_text{
        font-size: 26.6px;
    }

    .menu_item_descr{
        font-size: 18px;
    }

    .subheader{
        margin-top: 40px;
    }
    .news_block{
        height: 500px;
    }

    .more_link{
        margin-top: 23px;
    }

    .choose_subheader{
        font-size: 27px;
    }

    .choose_img{
        width: 440px;
        height: 396.69px;
    }

    .choose_text{
        line-height: 32px;
    }
    .choose_button,  .more_link{
        font-size: 20px;
    }

    .watch_btn{
        width: 110px;
        height: 110px;
    }

    .watch_btn img{
        width: 80px;
        height: 80px;
    }


    .clients_btn{
        width: 90px;
        height: 90px;
    }

    .question_input{
        font-size: 19px;
    }
    .container_logo{
        height: 175px;
    }
    .logo_txt, .contact_text, .contact_tel{
        font-size: 17px;
    }

    .about_txt, .about_right{
        font-size: 19px;
    }

    .container_right{
        width: 245px;
    }

    .subfooter_container{
        padding-top: 41px;
    }

    .left_about{
        width: 465px;
    }

    .social_round{
        width: 50px;
        height: 50px;
    }

    .social_icon{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px){
    .main{
        min-height: 115px;
    }
    .navbar{
        max-width: 900px;
        justify-content: space-between;
    }
    .logo-img {
        width: 93px;
    }
    .logo-txt{
        font-size: 34px;
    }
    .panel{
        padding-right: 30px;
    }
    .panel-txt, .buy-now{
        display: none;
    }

    .toggle_btn{
        display: block;
        font-size: 45px;
    }

    .dropdown_menu{
        display: block;
    }

    .food{
        min-height: 1250px;
    }

    /*.order_img{
        max-width: 700px;
        max-height: 666px;
    }*/

    .thai_header{
        font-size: 77px;
    }

    .description{
        font-size: 29px;
    }

    .order_button{
        width: 250px;
        height: 85px;
        font-size: 23px;
        color: #000;
    }

    .menu{
        height: 1700px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .menu_item{
        margin-bottom: 100px;
    }

    .our_menu{
        max-height: 2235px;
    }
    .dotted{
        margin-top: 31px;
    }

    .menu_image{
        width: 150px;
        height: 150px;
    }

    .menu_item_descr{
        font-size: 22px;
    }

    .menu_item_text{
        font-size: 30px;
    }

    .menu_item_price{
        font-size: 31px;
    }

    .item_header{
        font-size: 35px;
    }

    .item_text{
        font-size: 20px;
        margin-left: 60px;
    }

    .item_img{
        width: 406px;
    }

    .item_box{
        left: 20px;
        width: 325px;
    }

    .item_buy{
        margin-left: 125px;
    }

    .header{
        font-size: 80px;
    }

    .subheader{
        font-size: 40px;
    }

    .block{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .traditions_block{
        margin-top: -45px;
    }

    .traditions_img{
        width: auto;
        transform: rotate(270deg);
    }

    .traditions_text{
        font-size: 19px;
        padding-bottom: 50px;
    }

    .round_circle{
        width:700px;
        height:660px;
    }

    .image_container img{
        width: 350px;
        height: 305px;
    }

    .text_column{
        padding-top: 60px;
        width: 94.33px;
        height: 570.53px;
    }

    .round_img{
        width: 80px;
        height: 80px;
    }

    .round_text{
        width: 145px;
        font-weight: 700;
        font-size: 17px;
    }

    .menu_items{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .choose_container{
        padding: 50px 50px;
        flex-direction: column;
    }

    .choose_img{
        margin: 0 auto;
        margin-top: 100px;
    }

    .choose_right{
        display: grid;
        justify-items: end;
    }
    .choose_right div{
        text-align: right;
    }
    .news{
        height: 1850px;
        padding-bottom: 50px;
    }

    /*.news_item{
        width: 30%;
    }*/

    .news_container{
        height: 1100px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /*margin-left: -50px;*/
    }

    .watch{
        height: 700px;
    }
    .watch_video{
        padding-top: 280px;
    }

    .watch_image{
        width: 750px;
        height: 410px;
        padding: 0 50px;
    }

    .clients_text{
        width: 700px;
    }
    .subscribe{
        height: 300px;
        padding: 20px;
        padding-top: 50px;
    }
    .subscribe_block{
        justify-content: space-around;
        width: 752px;
        margin-top: -100px;
    }

    .subscribe_info{
        padding-bottom: 40px;
    }

    .subscribe_img{
        width: 215px;
        height: 260px;
    }

    .subscribe_header{
        font-size: 60px;
    }

    .subscribe_input{
        width: 210px;
    }

    .subscribe_btn{
        width: 185px;
    }

    .question_block{
        height: 1200px;
        flex-direction: column;
        padding-left: 20px;
        justify-content: space-around;
        align-items: center;
    }

    .subfooter{
        height: 500px;
    }
    .subfooter_container{
        padding-top: 60px;
        width: 800px;
        flex-wrap: wrap;
    }

    .footer{
        height: 300px;
    }

    .footer_container{
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 800px;
        height: 100%;
        flex-wrap: wrap;
    }

    .left_about, .left_rights{
        margin: 0 auto;
    }

    .left_rights{
        width: 500px;
    }

    .container_right{
        width: 300px;
    }

    .social_round{
        width: 61px;
        height: 61px;
    }
}

/*@media (max-width: 576px){
    .dropdown_menu{
        left: 27rem;
        width: unset;
    }
}*/

