*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #89b758;
    min-width: 1166px;
}


.navbar{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left .logo{
    display: flex;
    align-items: center;
}

.navbar-left img{
    max-width: 61px;
    margin: 5px 0 10px 200px;
}

.navbar-left .logo-txt{
    font-family: 'Permanent Marker', cursive;
    color: #ffff;
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: none;
}

.navbar-right .panel{
    display: flex;
    margin-right: 200px;
}

.navbar-right .panel .panel-txt{
    margin: 24px 10px;
    padding: 0 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffff;
    font-weight: 600;
    text-decoration: none;
}


.navbar-right .panel button{
    padding: 8px 24px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background: #ffff;
    color: #E7272D;
    font-weight: 600;
    border: #ffff;
    min-width: 127px;
    min-height: 50px;
}

#buy-now{
    border-radius: 40px;
    margin: 24px 13px;
    transition: 0.3s;
}

#buy-now:hover{
    color: #ffff00;
    border: 1px solid #ffff00;
}

.food{
    background-color: #89b758;
    min-height: 1150px;
    min-width: 1166px;
    padding: 72px 0 0 0;
    position: relative;
}

.thai_header{
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

.description{
    font-family: 'Roboto',sans-serif;
    margin-top: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.order_button{
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    min-width: 218px;
    min-height: 63px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
    transition: 0.3s;
}

.order_button:hover{
    color: #ffff00;
    border: 1px solid #ffff00;
}

.order_img{
    position: absolute;
    margin-top: 155px;
    margin-bottom: 75px;
    min-width: 748px;
    min-height: 690px;
    left: 50%;
    transform: translateX(-50%);
}

.fast-food{
    min-height: 794px;
    padding: 45px 0 45px 0;
}

.subheader{
    font-family: 'Permanent Marker', cursive;
    color: #89b758;
    font-weight: 600;
    font-size: 24.6px;
    text-transform: uppercase;
    text-align: center;
}

.header{
    font-family: 'Barlow',serif;
    color: #29361A;
    text-align: center;
    line-height: 67px;
    font-weight: 900;
    font-size: 60.8px;
    margin-top: 5px;
}

.menu{
    width: 1166px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.item{
    width: 359px;
    height: 425px;
    position: relative;
}

.item img{
    position: absolute;
    z-index: 1
}


.item_box{
    background-color: white;
    width: 295px;
    height: 280px;
    position: absolute;
    z-index: 2;
    border-radius: 6px;
    top: 210px;
    left: 32px;
}

.item_header{
    font-family: 'Barlow',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25.6px;
    color: #232323;
    margin-top: 24px;
    text-align: center;
}

.item_text{
    color: #808080;
    font-family: 'Roboto',sans-serif;
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-left: 48px;
}

.item_price{
    color: #0E0E0E;
    margin-top: 16.6px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25.6px;
    text-align: center;
}

.item_buy{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-top: 23.6px;
    background-color: #89B758;
    margin-left: 117.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_buy img{
    height: 30px;
    width: 30px;
}

.traditions{
    padding-top: 90px;
    min-height: 670.2px;
}

.block{
    width: 1165px;
    height: 475.23px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.traditions_block{
    width: 583px;
    height: 475.23px;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
}

.subheader_traditions{
    margin-top: 47px;
}

.header_traditions{
    margin: 0 auto;
    margin-top: 5px;
    padding-left: 84.39px;
    padding-right: 84.19px;
}

.traditions_text{
    margin-top: 25.88px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #808080;
    padding-left: 64px;
    padding-right: 64px;
}

.traditions_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 44.19px;
    background: #89B758;
    border: 1px solid #89B758;
    border-radius: 100px;
    text-transform: uppercase;
    min-width: 215.81px;
    min-height: 62.8px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.traditions_button:hover{
    background: #29361A;
    border: 1px solid #29361A;
}

.traditions_img{
    height: 475.23px;
    width: 227.5px;
    border-radius: 4px;
}

.round{
    min-height: 840.5px;
}


.round_circle{
    display: flex;
    width: 800px;
    height: 750px;
    border-radius: 100%;
    background-color: #89B758;
    margin: 0 auto;
    margin-top: 49.5px;
}

.round_text{
    width: 130px;
    text-align: left;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
}

.text_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    margin-left: 50px;
    width: 194.33px;
    height: 650.53px;
}


.round_img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    right: 7px;
}

.round_block_flex{
    display: flex;
    justify-content: space-between;
    margin-left: -200px;
    width: 330px;
}

.image_container{
    overflow: hidden;
}

.image_container img{
    width: 475px;
    height: 433px;
    margin-top: 57.67px;
    margin-left: 7px;
    animation: slide-left-right 1.3s infinite alternate ;
}

@keyframes slide-left-right {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(10px);
    }
}

.our_menu{
    min-height: 976px;
}

.menu_header{
    color: black;
}

.menu_items{
    height: 767px;
    width: 1190px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.menu_item{
    display: flex;
    margin-bottom: 38px;
}

.menu_image{
    width: 110px;
    height: 110px;
    margin-right: 32px;
}

.menu_item_header{
    width: 77px;
    height: 31.8px;
    background: #89B758;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding-top: 5px;
    margin-bottom: 12px;
}

.menu_item_text{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 25.6px;
    color: #000000;
}

.dotted{
    margin-top: 27px;
    margin-left: 8px;
    margin-right: 8px;
    height: 1px;
    width: 225.66px;
    background-color: #9A9A9A;
}

.menu_item_price{
    color: #89B758;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 25.6px;
}

.menu_item_subheader{
    display: flex;
}

.menu_item_descr{
    margin-top: 7px;
    max-width: 393.93px;
    font-family: 'Roboto', sans-serif;
    max-height: 58px;
    font-weight: 400;
    font-size: 16px;
    color: #808080;
}

.choose{
    background-color: #232323;
    height: 724.34px;
    min-width: 1185px;
}

.choose_container{
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
    width: 1150px;
    height: 424.34px;
}

.choose_left div{
    text-align: left;
}

.choose_right div{
    text-align: right;
}

.choose_subheader{
    margin-top: 74px;
    color: #E7272D;
    font-weight: 400;
}

.choose_header{
    color: #fff;
    max-width: 355.26px;
}

.choose_button{
    background-color: #E7272D;
    color: #fff;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 16.5px;
    text-transform: uppercase;
    border-radius: 100px;
    min-width: 230px;
    min-height: 63px;
    margin-top: 45px;
    transition: 0.5s;
}

.choose_button:hover{
    background-color: #f4c430;
}

.choose_text{
    max-width: 349.18px;
    margin-top: 26px;
    line-height: 29px;
}

.choose_img{
    width: 420px;
    height: 387.69px;
    margin-top: 270px;
}

.news{
    height: 798.28px;
}

.news_container{
    display: flex;
    justify-content: space-around;
    max-width: 1197px;
    text-align: center;
}

.news_item{
    position: relative;
}

.news_header{
    color: #232323;
}

.news_img{
    display: block;
    position: absolute;
    margin-top: 67px;
    margin-left: 24px;
    width: 310.66px;
    height: 220px;
    border-radius: 9px;
    z-index: 15;
    transition: transform 0.3s ease;
}

.news_img:hover{
    transform: scale(1.1);
}

.news_block{
    position: absolute;
    margin-top: 91px;
    width: 358.66px;
    height: 461.58px;
    background-color: #fff;
    border-radius: 9px;
    padding: 236px 40px 197px 40px;
    transition: 0.5s;
}

.news_block:hover{
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.18);
}

.news_description{
    text-align: left;
}

.news_sign{
    display: flex;
}

.news_location, .news_date{
    display: flex;
}

.news_date{
    margin-left: 23px;
}

.location_icon{
    width: 21px;
    height: 22px;
    margin-right: 3px;
}

.location_text{
    text-transform: uppercase;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 17px;
    color: #E7272D;
}

.news_subheader{
    margin-top: 12.8px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 25.6px;
    color: #232323;
}

.news_text{
    margin-top: 14.6px;
    max-width: 199px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #767676;
}

.news_link:hover{
    color: red;
}

.more_link{
    display: block;
    margin-top: 16.59px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #0E0E0E;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.more_link img{
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-left: 7px;
    transition: transform 0.3s ease;
}

.more_link:hover img{
    transform: translateX(15px);
}

.watch{
    height: 916.7px;
}

.watch_video{
    position: relative;
    width: 100%;
    height: 100vh;
}

.watch_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1136px;
    height: 600px;
    margin-top: -10px;
}

.watch_btn{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #89b758;
    z-index: 2;
    border-radius: 50%;
    border: none;
    text-align: center;
}

.watch_btn img{
    width: 60px;
    height: 60px;
    margin-left: 5px;
}


