*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #89b758;
}

.navbar{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left .logo{
    display: flex;
    align-items: center;
}

.navbar-left img{
    max-width: 61px;
    margin: 5px 0 10px 200px;
}

.navbar-left .logo-txt{
    font-family: 'Permanent Marker', cursive;
    color: #ffff;
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: none;
}

.navbar-right .panel{
    display: flex;
    margin-right: 200px;
}

.navbar-right .panel .panel-txt{
    margin: 24px 10px;
    padding: 0 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffff;
    font-weight: 600;
    transition: 0.2s;
    text-decoration: none;
}

.navbar-right .panel .panel-txt:hover{
    color: #ffff00;
}

.navbar-right .panel button{
    padding: 8px 24px;
    margin: 24px 13px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background: #ffff;
    color: #E7272D;
    font-weight: 600;
    border-radius: 40px;
    border: #ffff;
    min-width: 127px;
    min-height: 50px;
}

#buy-now:hover{
    color: #ffff00;
    border: 1px solid #ffff00;
    transition: 0.3s;
}

.food{
    background-color: #89b758;
    min-height: 1150px;
    padding: 72px 0 0 0;
    position: relative;
}

.food .header{
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

.food .description{
    margin-top: 26px;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.food .order_button{
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    min-width: 218px;
    min-height: 63px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
}

.order_button:hover{
    color: #ffff00;
    border: 1px solid #ffff00;
    transition: 0.3s;
}

.order_img{
    position: absolute;
    margin-top: 155px;
    margin-bottom: 75px;
    min-width: 748px;
    min-height: 690px;
    left: 50%;
    transform: translateX(-50%);
}

.fast-food{
    min-height: 794px;
    padding: 45px 0 45px 0;
}

.subheader{
    font-family: 'Permanent Marker', cursive;
    color: #89b758;
    font-weight: 600;
    font-size: 24.6px;
    text-transform: uppercase;
    text-align: center;
}

.header{
    font-family: 'Barlow',serif;
    color: #29361A;
    text-align: center;
    line-height: 67px;
    font-weight: 900;
    font-size: 61px;
    margin-top: 5px;
}

.menu{
    width: 1166px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.item{
    width: 359px;
    height: 425px;
}

.item_1{
    background: url("images/combo.png");
}

.item_2{
    background: url("images/combo.png");
}

.item_3{
    background: url("images/combo.png");
}

.item_box{
    color: white;
    width: 295px;
    height: 280px;
    text-align: center;
    margin-top: 210px;
    position: absolute;
    z-index: 2;
}

.item_header{
    font-family: 'Barlow',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25.6px;
    color: #232323;
    margin-bottom: 14.5px;
}

.item_text{
    color: #808080;
    font-family: 'Roboto',sans-serif;
    width: 200px;
    font-weight: 500;
    font-size: 16px;
}
