*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #89b758;
}

.navbar{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left .logo{
    display: flex;
    align-items: center;
}

.navbar-left img{
    max-width: 61px;
    margin: 5px 0 10px 200px;
}

.navbar-left .logo-txt{
    font-family: 'Permanent Marker', cursive;
    color: #ffff;
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: none;
}

.navbar-right .panel{
    display: flex;
    margin-right: 200px;
}

.navbar-right .panel .panel-txt{
    margin: 24px 10px;
    padding: 0 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffff;
    font-weight: 600;
    text-decoration: none;
}


.navbar-right .panel button{
    padding: 8px 24px;
    margin: 24px 13px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background: #ffff;
    color: #E7272D;
    font-weight: 600;
    border-radius: 40px;
    border: #ffff;
    min-width: 127px;
    min-height: 50px;
}

#buy-now{
    transition: 0.3s;
}

#buy-now:hover{
    color: #ffff00;
    border: 1px solid #ffff00;
}

.food{
    background-color: #89b758;
    min-height: 1150px;
    padding: 72px 0 0 0;
    position: relative;
}

.food .header{
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

.food .description{
    margin-top: 26px;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.order_button{
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    min-width: 218px;
    min-height: 63px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
    transition: 0.3s;
}

.order_button:hover{
    color: #ffff00;
    border: 1px solid #ffff00;
}

.order_img{
    position: absolute;
    margin-top: 155px;
    margin-bottom: 75px;
    min-width: 748px;
    min-height: 690px;
    left: 50%;
    transform: translateX(-50%);
}

.fast-food{
    min-height: 794px;
    padding: 45px 0 45px 0;
}

.subheader{
    font-family: 'Permanent Marker', cursive;
    color: #89b758;
    font-weight: 600;
    font-size: 24.6px;
    text-transform: uppercase;
    text-align: center;
}

.header{
    font-family: 'Barlow',serif;
    color: #29361A;
    text-align: center;
    line-height: 67px;
    font-weight: 900;
    font-size: 60.8px;
    margin-top: 5px;
}

.menu{
    width: 1166px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.item{
    width: 359px;
    height: 425px;
    position: relative;
}

.item img{
    position: absolute;
    z-index: 1
}


.item_box{
    background-color: white;
    width: 295px;
    height: 280px;
    position: absolute;
    z-index: 2;
    border-radius: 6px;
    top: 210px;
    left: 32px;
}

.item_header{
    font-family: 'Barlow',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25.6px;
    color: #232323;
    margin-top: 24px;
    text-align: center;
}

.item_text{
    color: #808080;
    font-family: 'Roboto',sans-serif;
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-left: 48px;
}

.item_price{
    color: #0E0E0E;
    margin-top: 16.6px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25.6px;
    text-align: center;
}

.item_buy{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-top: 23.6px;
    background-color: #89B758;
    margin-left: 117.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_buy img{
    height: 30px;
    width: 30px;
}

.traditions{
    padding-top: 90px;
    min-height: 670.2px;
}

.block{
    width: 1165px;
    height: 475.23px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.traditions_block{
    width: 583px;
    height: 475.23px;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
}

.subheader_traditions{
    margin-top: 47px;
}

.header_traditions{
    margin: 0 auto;
    margin-top: 5px;
    padding-left: 84.39px;
    padding-right: 84.19px;
}

.traditions_text{
    margin-top: 25.88px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #808080;
    padding-left: 64px;
    padding-right: 64px;
}

.traditions_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 44.19px;
    background: #89B758;
    border: 1px solid #89B758;
    border-radius: 100px;
    text-transform: uppercase;
    min-width: 215.81px;
    min-height: 62.8px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.traditions_button:hover{
    background: #29361A;
    border: 1px solid #29361A;
}

.traditions_img{
    height: 475.23px;
    width: 227.5px;
    border-radius: 4px;
}


